.qodo
.env
Sofi_bot.log
.venv
build
dist
SofiBotGUI.spec
elite_card_test.py
elite_card.png
elite_card2.png
elite_card3.png
elite_card5.png
sofiRaw.webp
sofiRaw2.webp
sofiRaw3.webp
sofiRaw4.webp
app.ico
build_windows_debug.bat
